# Xcode
.DS_Store
xcuserdata
*.xcworkspace
*.xcuserdatad
*.xcproj
.xcuserstate

# Swift
.DS_Store
.build
DerivedData
/.swiftpm
/.build

# macOS
.idea

# Swift Package Manager
/.build

# Xcode 12
*.xcodeproj
!*.xcodeproj/project.pbxproj

# Carthage
/Carthage

# CocoaPods
/Pods
/Podfile.lock

# fastlane
/Fastlane

# General
.DS_Store
node_modules/
.svn/
*.swp
*.log
*.tmp
*.swx
*.bak
*.ipch
Thumbs.db
ehthumbs.db
Icon?
ehthumbs.db
Desktop.ini
.DS_Store?
*.db
*.sql
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.cstore
*.db-shm
*.db-wal
.idea/
